body{

	font-family: 'Varela Round', sans-serif;
}

.justify{
	text-align: center;
}
li{
	display:inline-block;
	font-family: 'Varela Round', sans-serif;
	padding:40px;
	letter-spacing:5px;
}
.logo{
	font-family: 'Varela,' sans-serif;
	letter-spacing: 5px;
	padding:40px;

}
.whitetext{
	color:white;
}
.paragraph{
	font-family: 'Varela,' sans-serif;
}
.navbar{
	vertical-align: middle;
	font-size: 24px;
}
.floatleft{
	float:left;
}
.floatright{
	float:right;
}