body{

	font-family: 'Varela Round', sans-serif;
	height:1000px;
}

.justify{
	text-align: center;
}
li{
	display:inline-block;
	font-family: 'Varela Round', sans-serif;
	padding:40px;
	letter-spacing:5px;
}
.logo{
	font-family: 'Varela,' sans-serif;
	letter-spacing: 5px;
	padding:40px;

}
.paragraph{
	padding:100px 200px 100px 200px; 
	font-family: 'Droid Serif', serif;
	color: #FF0000;
}
.navbar{
	vertical-align: middle;
	font-size: 24px;
	padding:50px;
	color: #FF0000;
}
.floatleft{
	float:left;
}
.floatright{
	float:right;
}
a:link {
    text-decoration: none;

}

a:visited {
    text-decoration: none;
    color: #FF0000;
   
}

a:hover {
    text-decoration: underline;
    
}

a:active {
    text-decoration: underline;
   
}
.mainpic{
	vertical-align: middle;
}
.fixed{
	position:fixed;
}

#images{
	width: 500px;
	height: 500px;
	overflow: hidden;
	position: relative;
	margin:20px auto;
}

#images img{
	width: 500px;
	height: 500px;
	position:absolute;
	top:0;
	left:-400px;
}
#images img:first-child{
	left:0;
}
#images img{
	z-index: 1;
	opacity:0;
	transition: all linear 1s;
	-o-transition: all linear 1s;
	-moz-transition: all linear 1s;
	-webkit-transition: all linear 1s;
}

